body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    margin: 0;
}

header {
    flex: 0 70px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    flex: 0 30px;
}

nav {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

nav div.header-container {
    align-self: flex-start;
    padding-left: 0.3em;
}

ul.navbar-nav {
    flex: 1;
    display: flex;
    flex-direction: row !important;
}

div.collapse {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

ul .nav-item {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

div.table-title {
    display: flex;
    justify-content: space-between;
}

div#courses-table {
    margin: 0.6em;
}

th {
    text-align: left !important;
}

footer a {
    float: right;
    padding-right: 0.3em;
}

@media (max-height: 600px) {
    header {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        flex: 1 100vh;
    }
}