div.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

div.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

div.btn-container.centered {
    justify-content: center;
}

div#addStudentForm {
    width: 75vw;
}

div.row {
    padding-bottom: 0.6em;
}